@import 'tailwindcss';

@layer base {
  :root {
    --background: var(--color-gray-950);
    --background-off: var(--color-gray-800);
    --foreground: var(--color-gray-50);

    --accent: var(--color-green-400);
    --accent-dark: var(--color-green-950);
  }

  [data-accent='red'] {
    --accent: var(--color-red-400);
    --accent-dark: var(--color-red-950);
  }
  [data-accent='sky'] {
    --accent: var(--color-sky-400);
    --accent-dark: var(--color-sky-950);
  }

  [data-theme='light'] {
    --background: var(--color-green-50);
    --background-off: var(--color-green-200);
    --foreground: var(--color-gray-950);

    &[data-accent='red'] {
      --background: var(--color-red-50);
      --background-off: var(--color-red-200);
    }
    &[data-accent='sky'] {
      --background: var(--color-sky-50);
      --background-off: var(--color-sky-200);
    }
  }
}

@theme {
  --color-bg: var(--background);
  --color-bg-off: var(--background-off);
  --color-fg: var(--foreground);

  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
}

@theme inline {
  --font-heading: var(--font-quicksand), Helvetica, sans-serif;
  --font-sans: var(--font-inter), Helvetica, sans-serif;
}

@layer base {
  /*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    @apply bg-bg text-fg selection:bg-accent/33 font-sans;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading font-medium;
  }

  h1 {
    @apply text-5xl sm:text-7xl lg:text-6xl xl:text-7xl;
  }

  h2 {
    @apply text-4xl sm:text-5xl lg:text-4xl xl:text-5xl;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  a,
  button {
    @apply outline-accent outline-offset-2 focus:outline-2;
  }
}

@utility cell {
  @apply mx-6 sm:mx-12 xl:mx-20;
}

@utility content-grid {
  @apply grid grid-cols-12 gap-4;
}
