@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply text-fg bg-bg;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    @apply text-7xl;
  }
}

@layer components {
  .cell {
    @apply mx-12 lg:mx-20;
  }

  .content-grid {
    @apply grid grid-cols-12 gap-4;
  }
}
